<div class=" d-flex justify-content-center my-5 " >
    <div class="card "style="width: 35rem; ">
        <h5 class="card-title d-flex justify-content-center mb-5" style="font-size:xx-large;">Signup</h5>
        <div>
        <div class=" px-3 ">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" id="name" placeholder="Enter Your Name" [(ngModel)]="name">
          </div>
          <div class=" px-3 py-2">
            <label for="phone" class="form-label">phone</label>
            <input type="text" class="form-control" id="phone" placeholder="Enter Your Phone"  [(ngModel)]="phone">
          </div>
         
          <div class="mb-3 px-3  py-2">
            <label for="Password" class="form-label">Password</label>
            <input type="Password" class="form-control" id="Password" placeholder="Password"  [(ngModel)]="password">
          </div>
 
          <div class=" px-3  py-2">
            <label for="email" class="form-label">Email address</label>
            <input type="email" class="form-control" id="email" placeholder="name@example.com"  [(ngModel)]="email">
          </div>
            <div class="px-3 form-floating  py-2">
                <label for="floatingTextarea">Address</label>

                <textarea class="form-control" placeholder="Enter Your Address" id="address"  [(ngModel)]="address"></textarea>
              </div>


          <div class="d-flex justify-content-center col-sm-12 mt-5y"> 
          <button (click)= "Signup()" class="btn btn-primary px-5 ">Confirm</button>
    </div>
    <div class="d-flex justify-content-center col-sm-12 mt-5">
        <a routerLink="/login" class="">Already Have Account? Login</a>
    
    </div>
          
    </div></div>
      </div>
    
    
    